@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Alert City</h1>
    <p class="lead">O aplicativo Alert City tem como finalidade de ajudar o município a registrar problemas e situações do dia a dia adversas que ocorre na cidade, facilitando assim o cotidiano e tornando a cidade mais eficiente e favorável aos moradores e também tornando mais prática a forma de visualizar os registros ocorridos.</p>
    <p><a href="https://www.facebook.com/" class="btn btn-primary btn-lg">Leia Mais... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Proposta</h2>
        <p>
            Para as primeiras requisições apresentadas acima, a proposta é que  atenda ás necessidades dos moradores.
            E que a prefeitura possa ter esses registros e poder fazer algo pois, muitos problemas não são registrados
            pelo fato da pessoa não ter um recurso para fazer esse registro. Também há o propósito fornecer ao próprio
            morador de fazer seu registro contribuindo com a sua cidade.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leai Mais.. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solução</h2>
        <p>Seria um aplicativo que permite qualquer pessoa aponte problemas como buracos nas ruas, casos de violência, vazamento de água, casos de dengue e intoxicação. Se tiver esses registros tanto a prefeitura como os moradores poderão ter acesso ás informações. Tendo um controle organizado de todos os problemas para que possa ser solucionado.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Integrantes</h2>
        <p>Alunos do 3º ano de Sistemas de Informação - Mateus Pereira, Alex Teodoro, Daniel Gomes e Douglas Prestes [Coordenador - Gabriel Brenner].</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia Mais &raquo;</a></p>
    </div>
</div>