body {
    background-image: url('~/Imagem/Fundo.jpg') no-repeat top center fixed;
    background-size: cover;
}

h3 {
    font-family: 'Arial';
    color: black;
    text-align: left;
}

p {
    margin: 0;
    padding: 20px 20px 20px 20px;
    text-align: justify;
    color: black;
    text-indent: 50px;
}

#projeto {
    width: 425px;
    height: 275px;
    border-radius: 10px;
}

/*#engrenagem {
    width: 450px;
    height: 300px;
    padding-left: 1%;
    border-radius: 25px;
}*/

#proposta {
    width: 425px;
    height: 275px;
    border-radius: 10px;
}

#funcionalidade {
    width: 500px;
    height: 275px;
    border-radius: 10px;
}

address {
    text-decoration: none;
    font-family: 'Arial';
    font-size: large;
    color: #000000;
}

contato {
    width: 100px;
    height: 200px;
}
