@{
    ViewBag.Title = "Contato";
}

<head>
    <title>Contato</title>
</head>

<body background="~/Imagem/Fundo.jpg" style="animation-delay:initial;">

    <link href="~/Content/Log.css" rel="stylesheet" />

    <div class="col-md-6">
        <address>
            <br />
            Associação Educaional Dom Bosco<br />
            Av.A, Casa 247, Jardim Aliança 2 - Cid:Resende<br />
            <abbr>Celular:</abbr>
            +55(24)99859-9578
        </address>

        <address>
            <strong>Suporte:</strong>   <a href="mailto:Support@example.com">mateus.militão@aedb.br</a><br />
            <strong>e-mail particular:</strong> <a href="mailto:Marketing@example.com">mateusp.1996@gmail.com</a>
        </address>
    </div>

    <div class="col-md-6">
        <img src="~/Imagem/Contato.png" />
    </div>

</body>
