
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Home</title>
</head>

<body background="~/Imagem/Fundo.jpg" style="animation-delay:initial;">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <h3>Projeto</h3>

    <div class="col-md-6">
        <p>
            O projeto Entre Laços tem o intuito de fornecer aos usuários, informações sobre os eventos que acontecem ao seu redor, como festas, pontos turísticos, restaurantes, campeonatos de jogos, lugares mais visitados e qualquer outro evento do interesse.
            Sabe-se que o “Facebook”, possui recursos, porém, não focados exclusivamente em eventos. O diferencial do “Entre Laços” será na praticidade, o usuário limitará um campo (determinado por um raio em km), os eventos de interesses neste raio serão exibidos. Os usuários poderão avaliar os lugares e fazer um comentário. O sistema além de listar locais cadastrados, permitirá aos usuários novos eventos, se cadastrar, conversar, traçar uma rota ou agendar uma visita.

        </p>
    </div>
    <div class="col-md-6">

        <img id="projeto" src="~/Imagem/Projeto.jpg" />
    </div>


    <h3>
        <br />
        <br />
        Funcionalidade
    </h3>

    <p>
        O sistema além de listar locais cadastrados, permitirá aos usuários novos eventos, se cadastrar, conversar, traçar uma rota ou agendar uma visita.
        Para evitar locais e eventos falsos, possuir recursos para avaliação “com comentários e avaliações negativas”, os usuários ficarão cientes dos locais com maior índice de assalto e reports falsos, como forma de informar, quando o mesmo estiver acessando eventos, em locais que não conhece.
        O aplicativo Entre Laços tem como finalidade ajudar as pessoas a descobrirem novos locais e tudo o que acontece por perto. Ele traz tudo em um contexto geral, sem deixar nada de fora. De forma com que tudo se conecte e seja atualizado com muita simplicidade.
        Os administradores necessitam de um sistema que ajude a informar o posicionamento do seu local, do que se trata (pontos de referência, melhor rota e “como chegar”) e o que tem de especial por ali, como forma de prender o público.
    </p>

    <div align="center">

        <img id="funcionalidade" src="~/Imagem/Funcionalidade.jpg" />

    </div>
    <h3>Proposta</h3>

    <div class="col-md-6">
        <p>
            Para as primeiras requisições apresentadas acima, a proposta é que o Aplicativo, atenda às necessidades dos cidadãos. Que todos fiquem atualizados e saibam o que está acontecendo ao seu redor. Sem perder tempo com pesquisas.
            Para outras requisições, a proposta é que o Aplicativo, atenda às necessidades das pessoas de se conectarem entre si. Compartilhando experiências e momentos.
        </p>
    </div>

    <div class="col-md-6" aling="Center">
        <img id="proposta" src="~/Imagem/Proposta.png" />
    </div>

    <h3>Nosso Produto</h3>
    <p>
        Nosso sistema além de mais simples de ser utilizado, é também mais completo, pois além de listar os locais já cadastrados, é possível se cadastrar, conversar, traçar uma rota ou agendar uma visita, além de poder se tornar um membro “Gold”, com privilégios especiais.
    </p>

    <div align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oqKfkIpUQI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>

