<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/ModelClass.csdl|res://*/ModelClass.ssdl|res://*/ModelClass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QVST-PC\SQLSERVER14;initial catalog=reator;persist security info=True;user id=sa;password=qvst;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>